{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb-base" // You can change this to 'google' or 'standard'
    ],
    "parserOptions": {
        "ecmaVersion": 12
    },
    "rules": {
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "no-console": "off" // Turn off the rule to allow console.log
    }
}
